.Gradients{
  position: absolute;
  width: 150%;
  height: 70vh;
  background: linear-gradient(to left,rgb(182, 47, 182),orange,rgb(207, 16, 166),rgb(82, 4, 82));
  z-index: -1;
  transform: rotate(-10deg);
  top: -9%;
  right: -10%;
  background-size: 300% 300%;
  animation: color 12s linear infinite;
}

@keyframes color{
  0%{
    background-position: 0 50% ;
  }
  50%{
    background-position: 100% 50% ;
  }
  100%{
    background-position: 0 50% ;
  }
}


@media (max-width: 1280px){
  .Gradients{
    top: -18%;
  }
}
@media (max-width: 1114px){
  .Gradients{
    top: -10%;
  }
}
@media (max-width: 900px){
  .Gradients{
    top: -25%;
  }
}
@media (max-width: 800px){
  .Gradients{
    top: -50%;
  }
}
@media (max-width: 768px){
  .Gradients{
    top: -35%;
  }
}
@media (max-width: 550px){
  .Gradients{
    top: -22%;
  }
}
@media (max-width: 420px){
  .Gradients{
    top: -30%;
  }
}